.block,
.block-narrow {
    position: relative;
    margin-inline-start: 5vw;
    margin-inline-end: 5vw;
}

@media(--large-phones) {

    .block,
    .block-narrow {
        max-width: 500px;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }
}

@media(--tablets-sm) {

    .block,
    .block-narrow {
        max-width: 640px;
    }
}

@media (--tablets-landscape) {

    .block {
        max-width: 760px;
    }

    .block-narrow {
        max-width: 676px;
    }
}

@media (--laptops-sm) {

    .block {
        max-width: 992px;
    }
}

@media (--laptops) {

    .block {
        max-width: 1024px;
    }
}

@media (--laptops-lg) {

    .block {
        max-width: 1200px;
    }

    .block-narrow {
        max-width: 760px;
    }
}

@media (--laptops-xl) {

    .block {
        max-width: 1400px;
    }

    .block-narrow {
        max-width: 866px;
    }
}