.figure {
    margin-top: 2em;
    margin-bottom: 2em;

    & img {
        width: 100%;
        height: auto;
        border-radius: var(--radius);
        box-shadow: var(--box-shadow-highlight);
    }

    & figcaption {
        position: relative;
        margin-top: 1.5em;
        padding-left: 3em;
        font-size: var(--text-xs);
        line-height: 1.5em;
        max-width: 35em;

        & svg {
            position: absolute;
            top: 0.25em;
            left: 0;
            width: 2em;
            height: auto;
        }
    }
}

@media(--tablets-sm) {

    .figure {

        & figcaption {
            font-size: var(--text-sm);
        }
    }
}

@media (--laptops-lg) {

    .figure figcaption {
        font-size: var(--text);
    }
}

@media (--laptops-xl) {

    .figure figcaption {
        font-size: var(--text-md);
    }
}