.page-nav-touch {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: var(--color-bg);
    color: var(--text);

    & ul {
        display: flex;
        justify-content: space-between;
    }

    & a {
        display: flex;
        align-items: center;
        height: 4rem;
        padding: 0 1rem;
    }
}

.page-nav-desktop,
.page-nav-footer {
    display: none;
}

@media (--tablets-landscape) {

    .page-nav-touch {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    .page-nav-desktop {
        display: block;
        position: relative;
        font-size: var(--text-sm);
        margin-bottom: 8rem;

        & svg {
            position: absolute;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 0.75em;
            width: 100px;
            height: auto;
        }
    }

    .page-nav-footer {
        display: block;
        position: relative;
        margin-top: 8em;
        margin-bottom: 8em;
        padding-top: 2em;
        border-top: var(--border-dotted);
        font-size: var(--text);
        line-height: 1em;

        & ul {
            display: flex;
            justify-content: space-between;
            margin-inline-start: -0.75em;
            margin-inline-end: -0.75em;
        }

        & li {
            /**
             * Prevent smaller link from going to
             * two lines.
             */
            min-width: 40%;
        }

        & a {
            display: flex;
            align-items: center;
            gap: 0.75em;
            padding: 1rem;
        }

        & li:last-child a {
            justify-content: right;
            text-align: right;
        }

        & svg {
            /* Prevent disappearing arrow in constrained space */
            flex-shrink: 0;
        }
    }
}

@media (--laptops) {

    .page-nav-desktop {

        & svg {
            width: auto;
        }
    }
}

@media (--laptops-lg) {

    .page-nav-footer {
        font-size: var(--text-lg);
    }
}

@media (--laptops-xl) {

    .page-nav-desktop {
        margin-bottom: 16rem;
    }
}