.page {
    padding-top: 15vh;

    .header-image {
        opacity: 25%;
    }
}

.page-type {
    font-size: 5vw;
    font-weight: var(--text-medium);
    line-height: 1em;
}

.page-title {
    font-size: 11vw;
    font-weight: var(--text-bold);
    line-height: 1.15em;
    /* Correct left-align shift in font */
    position: relative;
    left: -0.05em;
}

@media(--large-phones) {

    .page {
        padding-top: 12rem;
    }

    .page-type {
        font-size: 2rem;
    }

    .page-title {
        font-size: 4rem;
    }
}

@media(--tablets-sm) {

    .page-type {
        font-size: 2rem;
    }

    .page-title {
        font-size: 5rem;
    }
}

@media (--tablets-landscape) {

    .page {
        padding-top: 2rem;
    }

    .page-type {
        font-size: 2.5rem;
    }

    .page-title {
        font-size: 6rem;
        line-height: 1.05em;
    }
}

@media (--laptops-sm) {

    .page-title {
        font-size: 7.5rem;
    }
}

@media (--laptops) {

    .page {
        padding-top: 4rem;
    }

    .page-title {
        font-size: 7.5rem;
    }
}

@media (--laptops-lg) {

    .page-title {
        font-size: 7.5rem;
    }
}

@media (--laptops-xl) {

    .page {
        padding-top: 8rem;
    }

    .page-title {
        font-size: 7.5rem;
    }
}