<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link href="/styles.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        {% if description %}
            <meta name="description" content="{{ description }}">
        {% endif %}
    </head>
    <body class="{% if page.url == '/' %}home{% else %}page{% endif %}">
        {% backgroundImage "/img/header" "header-image" "Photo of me squinting into the camera" "eager" %}
        {% if page.url != '/' %}
            <nav class="page-nav-touch" aria-label="Site Navigation">
                <ul class="unstyled-list">
                    {% if backUrl %}
                        <li>
                            <a href="{{ backUrl }}">
                                {% include 'back-arrow.svg' %}
                                <span class="-screenReader">
                                    {{ backText }}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="/">
                            {% include 'icon-home.svg' %}
                            <span class="-screenReader">
                                Home
                            </span>
                        </a>
                    </li>
                    {% if nextUrl %}
                        <li>
                            <a href="{{ nextUrl }}">
                                {% include 'next-arrow.svg' %}
                                <span class="-screenReader">
                                    {{ nextText }}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% if backUrl %}
                <div class="block page-nav-desktop" aria-hidden="true">
                    <a class="unlined-link" href="/">
                        {% include 'back-arrow-long.svg' %}
                        Back to home
                    </a>
                </div>
            {% endif %}
        {% endif %}
        <main>
            {{ content }}

            {% if page.url != '/' %}
                <nav class="block page-nav-footer" aria-label="Go to next/last page">
                    <ul class="unstyled-list">
                        {% if backUrl %}
                            <li>
                                <a class="unlined-link" href="{{ backUrl }}">
                                    {% include 'back-arrow-long.svg' %}
                                    Back: {{ backText }}
                                </a>
                            </li>
                        {% endif %}
                        {% if nextUrl %}
                            <li>
                                <a class="unlined-link" href="{{ nextUrl }}">
                                    Next: {{ nextText }}
                                    {% include 'next-arrow-long.svg' %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </main>
        <footer class="block-narrow site-footer">
            <h2 class="text-heading">Contact Me</h2>
            <div class="text">
                Get in touch if you think I can help you with something.
            </div>
            <div class="site-footer-details">
                {% assign widths = "120,240" | split: "," %}
                {% image "img/avatar.jpg", "My avatar", "site-footer-avatar", "lazy", widths, "120px" %}
                <ul class="site-footer-links unstyled-list">
                    <li class="site-footer-link">
                        {% include 'icon-github.svg' %}
                        <a class="unlined-link" href="https://github.com/NateWr">
                            github.com/NateWr
                        </a>
                    </li>
                    <li class="site-footer-link">
                        {% include 'icon-email.svg' %}
                        <a class="unlined-link" href="mailto:natew+work@notthisway.com">
                            natew+work@notthisway.com
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
        {% backgroundImage "/img/footer" "footer-image" "Photo of my dog Peanut" "lazy" %}
    </body>
</html>
