.figure {
    margin-top: 2em;
    margin-bottom: 2em;

    & img,
    & video {
        height: auto;
        border-radius: var(--radius);
        box-shadow: var(--box-shadow-highlight);
        background: var(--color-drop-shadow);
    }

    & video {
        width: 100%;
    }

    & figcaption {
        position: relative;
        margin-top: 1.5em;
        padding-left: 3em;
        font-size: var(--text-xs);
        line-height: 1.5em;
        max-width: 35em;

        & svg {
            position: absolute;
            top: 0.25em;
            left: 0;
            width: 2em;
            height: auto;
        }
    }
}

/**
 * An image smaller than the maximum size
 */
.figure--small {
    text-align: center;

    & img {
        display: inline-block;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }

    & figcaption {
        text-align: start;
        display: inline-block;
    }
}

@media(--tablets-sm) {

    .figure {

        & figcaption {
            font-size: var(--text-sm);
        }
    }
}

@media (--laptops-lg) {

    .figure figcaption {
        font-size: var(--text);
    }
}

@media (--laptops-xl) {

    .figure figcaption {
        font-size: var(--text-md);
    }
}