.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

@media (--tablets-sm) {

    .header-image {
        width: 65vw;
    }
}

@media (--tablets-landscape) {

    .header-image {
        width: 65vw;
    }
}

@media (--laptops-sm) {

    .header-image {
        width: 50vw;
    }
}
