.spacer {
    position: relative;
    margin: 15vh auto;
    width: 0;
    height: 100vh;
    left: 0.125rem;
    transform: translateX(-50%);
    border-left: var(--border-dotted);
}

.spacer--small {
    height: 10rem;
}

@media (--laptops-sm) {

    .spacer {
        margin-top: 12rem;
        margin-bottom: 12rem;
    }
}