.text {
    font-size: 5vw;
    line-height: 2em;
}

.text-lg {
    font-size: 6vw;
    line-height: 2em;
}

.text-heading {
    font-size: 7.5vw;
    line-height: 1.2em;
    font-weight: var(--text-semibold);

    & svg {
        position: relative;
        top: 0.2em;
        width: auto;
        height: 1em;
        margin-right: 0.25em;
    }
}

@media(--large-phones) {

    .text {
        font-size: var(--text-sm);
    }

    .text-lg {
        font-size: var(--text);
    }

    .text-heading {
        font-size: var(--heading-sm);
    }
}

@media(--tablets-sm) {

    .text {
        font-size: var(--text);
    }

    .text-lg {
        font-size: var(--text-md);
    }

    .text-heading {
        font-size: var(--heading);
    }
}

@media (--tablets-landscape) {

    .text {
        font-size: var(--text-md);
    }

    .text-lg {
        font-size: var(--text-lg);
    }

    .text-heading {
        font-size: var(--heading-lg);
    }
}

@media (--laptops-lg) {

    .text {
        font-size: var(--text-lg);
    }

    .text-lg {
        font-size: var(--text-xl);
    }

    .text-heading {
        font-size: var(--heading-xl);
    }
}
