:root {
    /**
     * Palette
     */
    --color-black-85: rgba(0, 0, 0, 0.85);
    --color-blue: #3DADFF;
    --color-dark-brown: #27241E;
    --color-dark-yellow: #423720;
    --color-white: #fff;
    --color-yellow: #FFC46B;
    --color-yellow-lighter: #FFD08A;

    /**
     * Light mode
     */
    --color-bg: var(--color-white);
    --color-text: var(--color-black-85);
    --color-focus: var(--color-blue);
    --color-link: var(--color-black-85);
    --color-link-highlight: var(--color-yellow);
    --color-button: var(--color-black-85);
    --color-button-bg: var(--color-yellow);
    --color-button-bg-hover: linear-gradient(to right top, var(--color-yellow), var(--color-yellow-lighter));
    --color-button-bg-active: linear-gradient(to right bottom, var(--color-yellow), var(--color-yellow-lighter));
    --color-drop-highlight: var(--color-yellow);
    --color-drop-shadow: var(--color-black-85);
    --color-svg-icon: #000;
    --color-svg-icon-opacity: 0.85;
    --color-inset-gradient-start: rgba(255, 236, 208, 1);
    --color-inset-gradient-end: rgba(255, 236, 208, 0.15);
    --color-code: var(--color-yellow);
    --color-code-bg: var(--color-dark-brown);
    --color-code-header-bg: var(--color-yellow);
    --color-code-header-border: var(--color-yellow);

    /**
     * Typography
     */
    --font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

    --text-normal: 400;
    --text-medium: 500;
    --text-semibold: 600;
    --text-bold: 700;

    --text-xxs: 0.875rem; /* 14 */
    --text-xs: 1rem; /* 16 */
    --text-sm: 1.25rem; /* 20 */
    --text: 1.5rem; /* 24 */
    --text-md: 1.625rem; /* 26 */
    --text-lg: 2rem; /* 32 */
    --text-xl: 3rem; /* 48 */

    --heading-sm: 1.5rem; /* 24 */
    --heading: 2.125rem; /* 34 */
    --heading-lg: 2.25rem; /* 36 */
    --heading-xl: 3rem; /* 48 */

    --title-xs: 3rem; /* 48 */

    /**
     * Responsive breakpoints
     */
    @custom-media --large-phones (min-width: 564px);
    @custom-media --tablets-sm (min-width: 720px);
    @custom-media --tablets (min-width: 834px);
    @custom-media --tablets-landscape (min-width: 1024px);
    @custom-media --laptops-sm (min-width: 1280px);
    @custom-media --laptops (min-width: 1400px);
    @custom-media --laptops-lg (min-width: 1600px);
    @custom-media --laptops-xl (min-width: 1920px);

    /**
     * The rest
     */
    --radius: 3px;
    --border-dotted: 0.25rem dotted var(--color-yellow);
    --box-shadow-highlight: -8px -8px 0 var(--color-drop-highlight), 8px 8px 0 var(--color-drop-shadow);
    --inset-bg: linear-gradient(to top right, var(--color-inset-gradient-start), var(--color-inset-gradient-end));
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: var(--color-dark-brown);
        --color-text: var(--color-yellow);
        --color-link: var(--color-yellow);
        --color-link-highlight: var(--color-focus);
        --color-svg-icon: var(--color-yellow);
        --color-svg-icon-opacity: 1;
        --color-inset-gradient-start: rgba(255, 112, 103, 0.15);
        --color-inset-gradient-end: rgba(255, 246, 232, 0.025);
        --color-code-bg: rgba(0, 0, 0, 0.2);
        --color-code-header-bg: var(--color-dark-yellow);
        --color-code-header-border: var(--color-yellow);
    }
}